.title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.subTitle {
  font-weight: bold;
  font-size: 2.2rem;
}

.paragraph {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.link {
  color: var(--contrast-red);
  &:hover {
    text-decoration: underline;
  }
}

.contactHeader {
  color: var(--contrast-red);
  margin-top: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subTitle {
    font-size: 1.9rem;
  }

  .paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .subTitle {
    font-size: 1.6rem;
  }

  .paragraph {
    font-size: 1.2rem;
  }
}
