.title {
  font-size: 2.5em;
  margin-bottom: 16px;
}

.subTitle {
  font-size: 2em;
  margin-top: 30px;
}

.paragraph {
  line-height: 1.6;
  margin-bottom: 8px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.link {
  color: var(--link);
}

.link:hover {
  text-decoration: underline;
}

.contactHeader {
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.75rem;
  }

  .subTitle {
    font-size: 1.3rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .subTitle {
    font-size: 1.2rem;
  }

  .paragraph {
    font-size: 0.85rem;
  }
}
