.title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 16px;
}

.subTitle {
  font-weight: bold;
  font-size: 2.2rem;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

.link {
  color: var(--yellow);
  &:hover {
    text-decoration: underline;
  }
}

.contactHeader {
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: var(--bp-largest)) {
  .title {
    font-size: 2.5rem;
  }

  .subTitle {
    font-size: 1.9rem;
  }

  .paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .subTitle {
    font-size: 1.6rem;
  }

  .paragraph {
    font-size: 1.2rem;
  }
}
