.button {
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--red);
  color: var(--light-grey);
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Header-font", sans-serif;
  align-self: flex-end;

  &.center {
    align-self: center;
  }

  &:hover {
    background-color: #b21d1d;
  }
}
