.pageHeader {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: var(--red);
}

.imageSection {
  width: 100%;
  background-color: var(--image-background);
  padding: 1.6rem 0;
  border-radius: 0.4rem;
}

.pageImage {
  position: relative;
  min-height: 25rem;
  width: 30rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  margin: 0 auto;
}

.pageText {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: black;
  text-align: justify;
}

.pageFooter {
  font-size: 2rem;
  color: #666;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 94%;
  border-top: 1px dashed #998466;
  text-align: left;
  .page.page-cover {
    background-color: #e3d0b5;
    color: #785e3a;
    border: 1px solid #998466;
  }
}

.button {
  font-size: 2rem;
  padding: 0 1.5rem;
}
