.pageHeader {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--red);
}

.pageImage {
  position: relative;
  min-height: 250px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.pageText {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: black;
  text-align: justify;
}

.pageFooter {
  font-size: 14px;
  color: #666;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 94%;
  border-top: 1px dashed #998466;
  text-align: left;
  .page.page-cover {
    background-color: #e3d0b5;
    color: #785e3a;
    border: 1px solid #998466;
  }
}
