.header {
  font-size: 7rem;
}

.secondary {
  font-size: 4rem;
}

.action {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  & > * {
    font-size: 5rem;
    &:not(a) {
      font-size: 3rem;
    }
  }
}
