.pageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  touch-action: none;
  /* transform-style: preserve-3d; */
  user-select: none;

  &.onePage {
    width: 100%;
  }

  &.right:not(.onePage) {
    left: 50%;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.below {
    z-index: 4;
  }
}

.shadow {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: 0px 0px;
  height: 100%;
  z-index: 10;

  &.onePage {
    left: 0;
  }
}
