.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  touch-action: none;
  z-index: 5;
  user-select: none;
  &.onePage {
    width: 100%;
  }

  &.right:not(.onePage) {
    left: 50%;
  }

  &.below {
    z-index: 4;
    width: 50%;

    &.right:not(.onePage) {
      left: 50%;
    }
  }
}

.shadow {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: 0px 0px;
  height: 100%;
  z-index: 10;

  &.onePage {
    left: 0;
  }
}
