.aboutContainer {
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 25rem 1fr;
  width: 80%;
  column-gap: 2rem;
  padding-bottom: 2.3rem;

  &:dir(rtl) {
    margin-top: 2.3rem;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .artistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .nameContainer {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;

    & > * {
      font-weight: 500;
    }

    & > h2,
    & > span {
      font-size: 3rem;
      color: var(--header-text);
    }

    &:dir(rtl) {
      margin-top: -2.4rem;
    }
  }
}

.header {
  font-size: 6rem;
  color: var(--red);
}

.text {
  color: var(--header-text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &:dir(ltr) > p {
    font-size: 1.8rem;
  }
}

.imageContainer {
  position: relative;
  min-height: 30rem;
  width: 25rem;
}

.socialIcons {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.socialIcons a {
  color: var(--red);
  margin: 0 1.6rem;
  transition: color 0.3s ease;
  font-size: 3.5rem;
}

.socialIcons a:hover {
  color: var(--social-hover);
}
