.aboutContainer {
  width: 70%;
  margin: 0 auto;

  &:dir(rtl) {
    margin-top: 2.3rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 2rem;
  }

  padding-bottom: 2.3rem;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-content: center;

  & > * {
    font-weight: 500;
  }

  & > h2,
  & > span {
    font-size: 3rem;
    color: var(--header-text);
  }

  &:dir(rtl) {
    margin-top: -2.4rem;
  }
}

.artistContainer {
  @media (min-width: 769px) {
    float: left;

    &:dir(rtl) {
      float: right;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 25rem;

  @media (max-width: 768px) {
    float: none;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    align-items: center;
  }
}

.text {
  color: var(--header-text);
  &:dir(ltr) > p {
    font-size: 1.8rem;
  }
}

.header {
  font-size: 6rem;
  color: var(--red);
}

.imageContainer {
  position: relative;
  height: 30rem;
  width: 20rem;

  @media (max-width: 768px) {
    width: 25rem;
    min-height: 30rem;
    height: fit-content;
  }
}

.socialIcons {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.socialIcons a {
  color: var(--red);
  margin: 0 1.6rem;
  transition: color 0.3s ease;
  font-size: 3.5rem;
  line-height: 0.5;
}

.socialIcons a:hover {
  color: var(--social-hover);
}
