.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nameContainer {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    & > * {
      font-weight: 500;
    }

    & > h2,
    & > span {
      font-size: 3rem;
      color: white;
    }

    &:dir(rtl) {
      margin-top: -2.4rem;
    }
  }
}

.header {
  font-size: 6rem;
  &:dir(rtl) {
    padding-bottom: 2rem;
  }
}

.imageContainer {
  position: relative;
  min-height: 250px;
  width: 250px;
}

.socialIcons {
  margin-top: 2rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.socialIcons a {
  color: var(--yellow);
  margin: 0 1.6rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #ff6f00;
}
