.imageSection {
  width: 100%;
  background-color: var(--image-background);
  padding: 1.6rem 0;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
}

.pageImage {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

.pageText {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  color: var(--page-text-color);
  text-align: start;
  padding-top: 0.8rem;
}

button.button {
  font-size: 1.5rem;
  padding: 0.4rem 0.8rem;
}
