.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.6rem;
}

button.disabled {
  cursor: not-allowed;
}

.pageCount {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  font-size: 2rem;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  min-width: 9rem;

  &:dir(rtl) {
    font-size: 1.8rem;
    flex-direction: row-reverse;
    line-height: 0.7;
    padding: 0.4rem 1.6rem 0.8rem 1.6rem;
  }
}
