.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 70vw;
  height: 70vh;
  color: var(--black);
  border-radius: 0.5rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100%;

  @media (max-width: 768px) {
    width: 90vw;
  }
}

.modalContent {
  padding: 1rem;
  @media (max-width: 768px) {
    padding: 0.5rem;
  }

  flex-grow: 1;
}

.pageImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.pageImage {
  justify-self: center;
  position: relative;
  width: 48%;
  min-height: 250px;
  margin-bottom: 10px;
  border-radius: 4px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.title {
  color: var(--red);
  font-size: 2.5rem;
  justify-self: center;
  margin-bottom: 0.5rem;
}
