:root {
  --yellow: #f7c500;
  --red: #cb2424;
  --black: #1a1a1a;
  --link: #0070f3;
  --light-grey: #f5f5f5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.6;
  scroll-behavior: smooth;
}

html[dir="rtl"] {
  body {
    --_access-icon-left: 10px;
    --_access-icon-right: auto;
  }
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --_access-icon-border-radius: 50%;
  --_access-icon-border: 0.5px solid white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--yellow);
}

p {
  font-size: 1.1em;
}

main {
  margin: 0 auto;
  margin-top: 64px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/images/brick-wall.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: grayscale(50%) contrast(1.2);
}
