:root {
  --yellow: #f7c500;
  --red: #cb2424;
  --black: #1a1a1a;
  --link: #0070f3;
  --light-grey: #f5f5f5;
  --footer-height: 60px;
  --footer-height-mobile: 85px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.6;
  scroll-behavior: smooth;
}

html[dir="rtl"] {
  body {
    --_access-icon-left: 10px;
    --_access-icon-right: auto;
  }
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --_access-icon-border-radius: 50%;
  --_access-icon-border: 0.5px solid white;
  --_access-icon-bottom: var(--footer-height);
}

@media (max-width: 768px) {
  body {
    --_access-icon-bottom: var(--footer-height-mobile);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--yellow);
}

p {
  font-size: 1.1em;
}
