.infoTitle {
  font-size: 3em;
  font-weight: bold;
  color: var(--contrast-red);
}

.infoSubTitle {
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--contrast-red);
  padding-top: 0.5rem;
}

.infoParagraph {
  font-size: 1.8rem;
}

.infoLink {
  color: var(--contrast-red);
  &:hover {
    text-decoration: underline;
  }
}

.infoSection {
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .infoTitle {
    font-size: 2.5rem;
  }

  .infoSubTitle {
    font-size: 1.9rem;
  }

  .infoParagraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .infoTitle {
    font-size: 2rem;
  }

  .infoSubTitle {
    font-size: 1.6rem;
  }

  .infoParagraph {
    font-size: 1.2rem;
  }
}
