.storyContainer {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 24px;
  @media only screen and (min-width: 450px) {
    width: 75%;
  }

  @media only screen and (min-width: 1450px) {
    width: 55%;
  }
}
