.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  min-height: var(--header-height);
  padding: 16px;
  font-size: 20px;

  .nav {
    display: flex;
    gap: 8px;
    .link:hover {
      color: red;
    }
  }
}
