.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  z-index: 1000;
  padding: 16px;
}

.header .nav {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  &:dir(rtl) {
    font-family: "OHSavyonChenKipper", sans-serif;
  }
}

.nav > li {
  position: relative;

  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
  }
}

.nav:dir(rtl) > li {
  padding: 0 10px;
  padding-left: 10px;
}

.nav > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  width: 2px;
  height: 80%;
  background-color: #ccc;
}

.nav:dir(rtl) > li:not(:last-child)::after {
  right: auto;
  left: 0;
  top: 8px;
}
