.modalContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex-grow: 1;
  overflow-x: hidden;

  @media (max-width: 768px) {
    gap: 0;
    padding: 0.5rem;
  }
}

.pageImages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.imageBackground {
  background-color: var(--image-background);
  padding: 1.6rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
}

.pageImage {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

.title {
  align-self: center;
  color: var(--red);
  font-size: 3rem;
}

.text {
  padding: 0 2rem;
  line-height: 1.1;
  font-size: 1.8rem;
  color: var(--page-text-color);

  @media (max-width: 768px) {
    padding: 1rem 0.5rem;
  }
}
