.footer {
  background-color: #333333;
  color: white;
  font-size: 20px;
  position: relative;
  display: flex;
  padding: 8px 16px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: 768px) {
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .footer > p {
      padding-bottom: 0;
    }
  }
}

.creator {
  display: flex;
  gap: 6px;
  align-items: center;
  & a {
    height: 20px;
    color: var(--red);
    transition: color 0.3s ease;
    &:hover {
      color: red;
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  color: white;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 12px;
    justify-content: space-between;
    width: 90%;
  }
}
