.creator {
  display: flex;
  gap: 6px;
  align-items: center;
  & > p {
    font-weight: 600;
    font-size: 2.2rem;
  }
  & a {
    height: 20px;
    color: var(--yellow);
    transition: color 0.3s ease;

    &:hover {
      color: #ff6f00;
    }
  }
}

.footer {
  background-color: #333333;
  color: white;
  position: relative;
  display: flex;
  padding: 8px 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .footer > p:not(:dir(rtl)) {
      font-size: 1.8rem;
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 2rem;

  @media (max-width: 768px) {
    justify-content: space-between;
    width: 90%;
  }

  @media (max-width: 768px) {
    &:not(:dir(rtl)) {
      font-size: 1.8rem;
    }
  }
}
