.pageCover {
  background-color: var(--page-background);
  font-size: 3.5rem;
  padding: 2rem;
  line-height: 1;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.4),
    10px 0 8px 0 rgba(0, 0, 0, 0.4);
}

.author {
  color: var(--page-text-color);

  &:dir(ltr) {
    font-size: 3rem;
  }
}
