.pageCover {
  background-color: var(--page-background);
  font-size: 3.5rem;
  line-height: 1;
  flex: 1;
  height: 100%;
}

.author {
  color: var(--page-text-color);

  &:dir(ltr) {
    font-size: 3rem;
  }
}
