.header {
  padding-top: 2rem;
  font-size: 6rem;
  line-height: 0.8;
}

.text {
  font-size: 4rem;
}

.action {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  & > * {
    font-size: 5rem;
  }
}
