.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 98%;
}

.title {
  color: #333;
}

.chapter {
  color: #333;
}
