.storyContainer {
  position: relative;

  width: 100%;
  @media only screen and (min-width: 450px) {
    width: 75%;
  }

  @media only screen and (min-width: 1450px) {
    width: 55%;
  }
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  align-self: baseline;
  z-index: 3;
}
