.storyContainer {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 2.4rem;
  flex: 1;

  @media (min-width: 680px) {
    width: 75%;
  }

  @media only screen and (min-width: 1450px) {
    width: 70%;
  }

  @media only screen and (min-width: 1450px) {
    width: 65%;
  }

  @media only screen and (min-width: 1670px) {
    width: 57%;
  }
}
