.page {
  position: absolute;
  width: 100%;
  transform-origin: center;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.left {
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4),
      7px 0 30px -7px rgba(0, 0, 0, 0.4);
  }

  &.right {
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4),
      7px 0 30px -7px rgba(0, 0, 0, 0.4);
  }
}

.pageContent {
  padding: 20px;
  text-align: center;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(203, 36, 36);
  color: var(--light-grey);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--red);
}
