.container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.language {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;

  &:dir(ltr) {
    font-size: 3rem;
    font-family: "OHSavyonChenKipper", sans-serif;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  &.active {
    color: var(--red);
  }

  &.disabled {
    cursor: not-allowed;
  }
}
