.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.language {
  cursor: pointer;
  text-transform: uppercase;

  &.active {
    color: var(--red);
  }
  &.disabled {
    cursor: not-allowed;
  }
}
