.header {
  font-size: 7rem;
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.secondary {
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

.action {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  & > * {
    font-size: 5rem;

    &:not(a) {
      font-size: 3rem;
    }

    &:dir(rtl) {
      padding-bottom: 1.5rem;
      &:not(a) {
        padding-bottom: 0;
      }
    }
  }
}
